<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">

<head>
	<title>Server programming HH2022 BOOKLIST</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
		<div>
		 <form th:object="${book}" th:action="@{saveBook}" action="#" method="post"> 
		 <table>
		 <tr>
		 <td><label for="title">Title</label></td>
		  <td><input type="text" id="title" th:field="*{title}" placeholder="Lord of the Examples"/></td>
		 	 <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</td>	
		 </tr>
		 <tr>
		  <td><label for="author">Author</label></td>
		  <td><input type="text" id="author" th:field="*{author}" placeholder="J.R.R. Example"/></td>
			  <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</td>	
		</tr>
		<tr>		
		  <td><label for="isbn">ISBN</label></td>
		 <td> <input type="text" th:field="*{isbn}" placeholder="ISBN"/></td>
		 		<td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</td>				
		 </tr>
		 <tr>
		  <td> <label for="year">Year of publication</label></td>
		  <td><input type="text" th:field="*{publicationYear}"/></td>
		 	  <td th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</td>	
		 </tr>
		 <tr>			
		   <td><label for="price">Price</label></td>
		  <td><input type="text" th:field="*{price}"/></td>
		  </tr>
		 <tr>
		 	 <td><label for="catlist">Category</label></td>
		  <td><select id="catlist" th:field="*{category}" class="form-control">
		 	 <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
		 </select></td>
		 </tr>
		 <tr>
		  <td><input type="submit" value="Save"></input></td>
		  </tr>
		  </table>
		 </form>
		</div>

</body>
</html>